# No Backup files
*.bak 
# --- Simulation Files ---
sim/sim1/*.mpf
sim/sim1/*.mti
sim/sim1/*.wlf
sim/sim1/work/*
sim/sim1/work/@_opt/*
sim/sim1/*.mpf_new 
sim/sim1/transcript

sim/sim2/*.mpf
sim/sim2/*.mti
sim/sim2/*.wlf
sim/sim2/work/*
sim/sim2/*.mpf_new 
sim/sim2/transcript
sim/sim2/*.vstf

sim/sim3/*.mpf
sim/sim3/*.mti
sim/sim3/*.wlf
sim/sim3/work/*
sim/sim3/*.mpf_new 
sim/sim3/transcript
sim/sim3/*.vstf

sim/sim4/*
sim/sim4/work/*
!sim/sim4/wave.do 
!sim/sim4/start.do 
!sim/sim4/sourcefile.txt 
!sim/sim4/reset.do 
!sim/sim4/done.do
# Ignore all contents of the reports folder
sim/sim2/_reports/*

# Allow (un-ignore) the final summary files
# !sim/sim2/_reports/coverage_report.txt
# !sim/sim2/_reports/mips_coverage.ucdb

# --- Synthesis Files ---
# Database and temporary compilation files

syn/Pipelined/*
!syn/Pipelined/report.tcl  
!syn/Pipelined/*.sdc 
!syn/Pipelined/*.qsf 
!syn/Pipelined/*.qpf 
!syn/Pipelined/*.htm 
!syn/Pipelined/*.mif
!syn/Pipelined/rtl/
!syn/Pipelined/report/

syn/Single_Cycle/*
!syn/Single_Cycle/report.tcl  
!syn/Single_Cycle/*.sdc 
!syn/Single_Cycle/*.qsf 
!syn/Single_Cycle/*.qpf 
!syn/Single_Cycle/*.htm 
!syn/Single_Cycle/*.mif 
!syn/Single_Cycle/rtl/
!syn/Single_Cycle/report/

# Keep these important files!
# !*.qpf  (Quartus Project File)
# !*.qsf  (Quartus Settings File - contains pin mappings)
# !*.v    (Verilog Source)
# !*.sv   (SystemVerilog Source)
# !*.sdc  (Timing Constraints)
# !*.mif  (Memory Initialization)
docs/~$MIPS I ISA.xlsx